<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="footprints_api_url" value="https://footprints.usc.edu/MRcgi/MRWebServices.pl" />
    <add key="footprints_username" value="hpmps"/>
    <add key="footprints_password" value="Trojans1"/>
    <!-- Credentials used for the Web-Team API System Account -->
    <!-- <add key="username" value="web_team_api"/>
    <add key="password" value="hospital1!"/> -->
  </appSettings>
</configuration>